# Extracting/Loading dataset and Inspecting

In [4]:
import pandas as pd

# Step 1: Load the Parquet file
file_path = r"C:\nyc_taxi_etl\data\green_tripdata_2024-09.parquet"
df = pd.read_parquet(file_path)

# Step 2: Quick inspection
print(df.head())
print(df.info())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2024-09-01 00:06:40   2024-09-01 00:31:15                  N
1         2  2024-09-01 00:51:31   2024-09-01 01:14:11                  N
2         2  2024-09-01 00:02:21   2024-09-01 00:06:37                  N
3         2  2024-09-01 00:33:27   2024-09-01 00:42:08                  N
4         2  2024-09-01 00:54:31   2024-09-01 00:55:52                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            92            37              1.0          10.66
1         1.0            80            80              1.0           3.89
2         1.0            42           116              1.0           0.80
3         1.0            41            42              1.0           1.84
4         5.0            42            42              1.0           0.00

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         43.6    1.0      0.5        0.00           0.0        NaN
1         22.6    1.0      0.5        5.02           0.0        NaN
2          6.5    1.0      0.5        0.00           0.0        NaN
3         11.4    1.0      0.5        0.00           0.0        NaN
4         29.0    0.0      0.0        0.00           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         46.10           2.0        1.0
1                    1.0         30.12           1.0        1.0
2                    1.0          9.00           1.0        1.0
3                    1.0         13.90           2.0        1.0
4                    1.0         30.00           1.0        2.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54440 entries, 0 to 54439
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               54440 non-null  int32
 1   lpep_pickup_datetime   54440 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  54440 non-null  datetime64[ns]
 3   store_and_fwd_flag     52736 non-null  object
 4   RatecodeID             52736 non-null  float64
 5   PULocationID           54440 non-null  int32
 6   DOLocationID           54440 non-null  int32
 7   passenger_count        52736 non-null  float64
 8   trip_distance          54440 non-null  float64
 9   fare_amount            54440 non-null  float64
 10  extra                  54440 non-null  float64
 11  mta_tax                54440 non-null  float64
 12  tip_amount             54440 non-null  float64
 13  tolls_amount           54440 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  54440 non-null  float64
 16  total_amount           54440 non-null  float64
 17  payment_type           52736 non-null  float64
 18  trip_type              52733 non-null  float64
 19  congestion_surcharge   52736 non-null  float64
dtypes: datetime64[ns](2), float64(14), int32(3), object(1)
memory usage: 7.7+ MB
None

In [21]:
import pandas as pd

file_path = r"C:\nyc_taxi_etl\data\green_tripdata_2024-09.parquet"

# Load file
df = pd.read_parquet(file_path)

# Check first rows and all column names
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print(df.head())

Shape: (54440, 20)
Columns: ['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge', 'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge']
   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2024-09-01 00:06:40   2024-09-01 00:31:15                  N
1         2  2024-09-01 00:51:31   2024-09-01 01:14:11                  N
2         2  2024-09-01 00:02:21   2024-09-01 00:06:37                  N
3         2  2024-09-01 00:33:27   2024-09-01 00:42:08                  N
4         2  2024-09-01 00:54:31   2024-09-01 00:55:52                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            92            37              1.0          10.66
1         1.0            80            80              1.0           3.89
2         1.0            42           116              1.0           0.80
3         1.0            41            42              1.0           1.84
4         5.0            42            42              1.0           0.00

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         43.6    1.0      0.5        0.00           0.0        NaN
1         22.6    1.0      0.5        5.02           0.0        NaN
2          6.5    1.0      0.5        0.00           0.0        NaN
3         11.4    1.0      0.5        0.00           0.0        NaN
4         29.0    0.0      0.0        0.00           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         46.10           2.0        1.0
1                    1.0         30.12           1.0        1.0
2                    1.0          9.00           1.0        1.0
3                    1.0         13.90           2.0        1.0
4                    1.0         30.00           1.0        2.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0

# Data Cleaning

In [19]:
# =========================
# Step 3: Data Cleaning
# =========================
# Drop duplicate rows
df = df.drop_duplicates()

# Fill missing values
df = df.fillna({
    'passenger_count': 0,
    'trip_distance': 0.0,
    'fare_amount': 0.0,
    'tip_amount': 0.0
})

# Convert datetime columns
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

# Feature Engineering

In [20]:

# Convert columns to proper types
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

# Example: create a new column for trip duration in minutes
df['trip_duration_min'] = (df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']).dt.total_seconds() / 60

# Optional: aggregate data by date
daily_trips = df.groupby(df['lpep_dropoff_datetime'].dt.date).agg({
    'trip_distance': 'mean',
    'passenger_count': 'sum'
}).reset_index()

print(daily_trips.head())

  lpep_dropoff_datetime  trip_distance  passenger_count
0            2008-12-31          6.290              1.0
1            2024-08-18          0.000             10.0
2            2024-08-25          2.880              1.0
3            2024-08-26          7.060              5.0
4            2024-08-27          7.492              8.0

# Transforming

In [27]:
# Only drop rows where crucial columns are missing
df = df.dropna(subset=['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'trip_distance', 'passenger_count'])

# Convert datetime columns
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

# Create new column: trip duration in minutes
df['trip_duration_min'] = (df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']).dt.total_seconds() / 60

# Aggregate daily trips
daily_trips = df.groupby(df['lpep_dropoff_datetime'].dt.date).agg({
    'trip_distance': 'mean',
    'passenger_count': 'sum'
}).reset_index()

print(daily_trips.head())

  lpep_dropoff_datetime  trip_distance  passenger_count
0            2008-12-31          6.290              1.0
1            2024-08-18          0.000             10.0
2            2024-08-25          2.880              1.0
3            2024-08-26          7.060              5.0
4            2024-08-27          7.492              8.0

In [28]:
agg_df = (
    df.groupby("passenger_count")
      .agg(
          avg_distance=("trip_distance", "mean"),
          avg_fare=("fare_amount", "mean"),
          total_trips=("VendorID", "count")
      )
      .reset_index()
)
print(agg_df.head())

   passenger_count  avg_distance   avg_fare  total_trips
0              0.0      2.767877  19.055976          584
1              1.0      3.004724  19.648788        43595
2              2.0      3.412063  22.989475         5486
3              3.0      3.932167  29.193990          609
4              4.0      5.274877  45.201844          244

In [26]:
import pandas as pd

file_path = r"C:\nyc_taxi_etl\data\green_tripdata_2024-09.parquet"
df = pd.read_parquet(file_path)

# Inspect top rows
print(df.head())

# Inspect summary info
print(df.info())

# Check for missing values
print(df.isna().sum())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2024-09-01 00:06:40   2024-09-01 00:31:15                  N
1         2  2024-09-01 00:51:31   2024-09-01 01:14:11                  N
2         2  2024-09-01 00:02:21   2024-09-01 00:06:37                  N
3         2  2024-09-01 00:33:27   2024-09-01 00:42:08                  N
4         2  2024-09-01 00:54:31   2024-09-01 00:55:52                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            92            37              1.0          10.66
1         1.0            80            80              1.0           3.89
2         1.0            42           116              1.0           0.80
3         1.0            41            42              1.0           1.84
4         5.0            42            42              1.0           0.00

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         43.6    1.0      0.5        0.00           0.0        NaN
1         22.6    1.0      0.5        5.02           0.0        NaN
2          6.5    1.0      0.5        0.00           0.0        NaN
3         11.4    1.0      0.5        0.00           0.0        NaN
4         29.0    0.0      0.0        0.00           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         46.10           2.0        1.0
1                    1.0         30.12           1.0        1.0
2                    1.0          9.00           1.0        1.0
3                    1.0         13.90           2.0        1.0
4                    1.0         30.00           1.0        2.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54440 entries, 0 to 54439
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               54440 non-null  int32
 1   lpep_pickup_datetime   54440 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  54440 non-null  datetime64[ns]
 3   store_and_fwd_flag     52736 non-null  object
 4   RatecodeID             52736 non-null  float64
 5   PULocationID           54440 non-null  int32
 6   DOLocationID           54440 non-null  int32
 7   passenger_count        52736 non-null  float64
 8   trip_distance          54440 non-null  float64
 9   fare_amount            54440 non-null  float64
 10  extra                  54440 non-null  float64
 11  mta_tax                54440 non-null  float64
 12  tip_amount             54440 non-null  float64
 13  tolls_amount           54440 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  54440 non-null  float64
 16  total_amount           54440 non-null  float64
 17  payment_type           52736 non-null  float64
 18  trip_type              52733 non-null  float64
 19  congestion_surcharge   52736 non-null  float64
dtypes: datetime64[ns](2), float64(14), int32(3), object(1)
memory usage: 7.7+ MB
None
VendorID                     0
lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag        1704
RatecodeID                1704
PULocationID                 0
DOLocationID                 0
passenger_count           1704
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
ehail_fee                54440
improvement_surcharge        0
total_amount                 0
payment_type              1704
trip_type                 1707
congestion_surcharge      1704
dtype: int64

# Create Trip Duration Column

In [7]:

import pandas as pd

file_path = r"C:\nyc_taxi_etl\data\green_tripdata_2024-09.parquet"
df = pd.read_parquet(file_path)

df["trip_duration_minutes"] = ( 
    (df["lpep_dropoff_datetime"] - df["lpep_pickup_datetime"]).dt.total_seconds() / 60
)

print(df.head())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2024-09-01 00:06:40   2024-09-01 00:31:15                  N
1         2  2024-09-01 00:51:31   2024-09-01 01:14:11                  N
2         2  2024-09-01 00:02:21   2024-09-01 00:06:37                  N
3         2  2024-09-01 00:33:27   2024-09-01 00:42:08                  N
4         2  2024-09-01 00:54:31   2024-09-01 00:55:52                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            92            37              1.0          10.66
1         1.0            80            80              1.0           3.89
2         1.0            42           116              1.0           0.80
3         1.0            41            42              1.0           1.84
4         5.0            42            42              1.0           0.00

   fare_amount  ...  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         43.6  ...      0.5        0.00           0.0        NaN
1         22.6  ...      0.5        5.02           0.0        NaN
2          6.5  ...      0.5        0.00           0.0        NaN
3         11.4  ...      0.5        0.00           0.0        NaN
4         29.0  ...      0.0        0.00           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         46.10           2.0        1.0
1                    1.0         30.12           1.0        1.0
2                    1.0          9.00           1.0        1.0
3                    1.0         13.90           2.0        1.0
4                    1.0         30.00           1.0        2.0

   congestion_surcharge  trip_duration_minutes
0                   0.0              24.583333
1                   0.0              22.666667
2                   0.0               4.266667
3                   0.0               8.683333
4                   0.0               1.350000

[5 rows x 21 columns]

# Checking Python Env

In [16]:
import sys
print(sys.executable)

C:\Users\bolli\anaconda3\python.exe

# Verifying before loading

In [17]:
import psycopg2
print("psycopg2 is working!")

psycopg2 is working!

# Load Data into PostgreSQL

In [18]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:Ammu%400307@localhost:5432/nyc_taxi")
df.to_sql("green_taxi_data", engine, if_exists="replace", index=False)

736